In [1]:
import os
import pandas as pd

df = pd.read_csv("C:\\Users\\ankan\\Desktop\\affairs\\data\\raw\\data_raw.csv")

In [2]:
df.head()

,rateMarriage,age,yearsMarried,children,religious,educ,occupation,husbandOccupation,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666

In [3]:
df.columns

Index(['rateMarriage', 'age', 'yearsMarried', 'children', 'religious', 'educ',
       'occupation', 'husbandOccupation', 'affairs'],
      dtype='object')

In [7]:
df2 = df.drop(['affairs'], axis = 1)

In [8]:
df2.columns

Index(['rateMarriage', 'age', 'yearsMarried', 'children', 'religious', 'educ',
       'occupation', 'husbandOccupation'],
      dtype='object')

In [17]:
for i in df2.columns:
    print(i,df2[i].unique())

rateMarriage [3. 4. 5. 2. 1.]
age [32.  27.  22.  37.  42.  17.5]
yearsMarried [ 9.  13.   2.5 16.5 23.   6.   0.5]
children [3.  0.  4.  1.  5.5 2. ]
religious [3. 1. 2. 4.]
educ [17. 14. 16. 12. 20.  9.]
occupation [2. 3. 5. 4. 1. 6.]
husbandOccupation [5. 4. 3. 2. 6. 1.]

In [9]:
desc = df.describe()

In [10]:
desc.drop(columns= 'affairs', inplace= True)

In [11]:
desc.loc[["min", "max"]].to_json("schema_in.json")

In [12]:
class NotInRange(Exception):
    def __init__(self, message="value not in range"):
#         self.input_ = input_
        self.message = message
        super().__init__(self.message)

In [13]:
raise NotInRange

NotInRange: value not in range

In [33]:
import shutil

In [34]:
shutil.copy("schema_in.json", "C:\\Users\\ankan.d\\Desktop\\Log_Reg\\tests")

'C:\\Users\\ankan.d\\Desktop\\Log_Reg\\tests\\schema_in.json'

In [15]:
desc.occupation.unique()

array([6.36600000e+03, 3.42412818e+00, 9.42398697e-01, 1.00000000e+00,
       3.00000000e+00, 4.00000000e+00, 6.00000000e+00])

In [16]:
desc.husbandOccupation.unique()

array([6.36600000e+03, 3.85014138e+00, 1.34643545e+00, 1.00000000e+00,
       3.00000000e+00, 4.00000000e+00, 5.00000000e+00, 6.00000000e+00])