In [35]:
import os
import pandas as pd

df = pd.read_csv("C:\\Users\\ankan.d\\Desktop\\Log_Reg\\data\\raw\\data_raw.csv")

In [36]:
df.head()

,rateMarriage,age,yearsMarried,children,religious,educ,occupation,husbandOccupation,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666

In [37]:
df.columns

Index(['rateMarriage', 'age', 'yearsMarried', 'children', 'religious', 'educ',
       'occupation', 'husbandOccupation', 'affairs'],
      dtype='object')

In [25]:
desc = df.describe()

In [27]:
desc.drop(columns= 'affairs', inplace= True)

In [29]:
desc.loc[["min", "max"]].to_json("schema_in.json")

In [30]:
class NotInRange(Exception):
    def __init__(self, message="value not in range"):
#         self.input_ = input_
        self.message = message
        super().__init__(self.message)

In [32]:
raise NotInRange

NotInRange: value not in range

In [33]:
import shutil

In [34]:
shutil.copy("schema_in.json", "C:\\Users\\ankan.d\\Desktop\\Log_Reg\\tests")

'C:\\Users\\ankan.d\\Desktop\\Log_Reg\\tests\\schema_in.json'